################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeCrib.AX.TFS/.vs
**/obj
**/bin/Debug/
**/bin/Release
*.suo
